@import './fonts/stylesheet.css';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: relative;
  display: inline-block;
  margin-top: 15%;
  padding: 0px 20px 7px 20px;
  font-family: 'avengeance_heroic_avengerIt';
  font-size: 9vh;
  color: #ffffff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.logo::before {
  vertical-align: bottom;
  content: '';
  font-family: 'avengeance_heroic_avengerIt';
  font-size: 9vh;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.logo::after {
  position: absolute;
  display: block;
  top: -2%;
  left: 7%;
  content: 'HelpSaveCar';
  font-family: 'avengeance_heroic_avengerIt';
  font-size: 9vh;
  color: rgb(250, 60, 41);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.motto {
  font-size: 3vh;
  font-family: 'FuturaPT';
  color: #000000;
  line-height: 1.2;
  text-align: center;
}

.lng-list {
  outline-style: none;
}

.option-lng {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-wrapper {
  position: relative;
  text-align: center;
  display: block;
}

.img-dashed-frame {
  position: absolute;
  left: 30%;
  /* top: 41%; */
  width: 100%;
  height: auto;
  max-width: 40%;
  display: block;
}

.image-bg {
  width: 100%;
  height: auto;
  max-width: 36%;
  margin: 0 auto;
  z-index: 17;
  display: block;
}

.bike {
  width: 100%;
  max-width: 15%;
  position: absolute;
  top: 29%;
  left: 43%;
}

.icons-over {
  width: 100%;
  max-width: 45%;
  position: absolute;
  top: -11%;
  left: 28%;
}

.lock {
  width: 100%;
  max-width: 7%;
  position: absolute;
  top: -14%;
  left: 46%;
}

.cup,
.camera {
  position: absolute;
  width: 100%;
  max-width: 5%;
}

.hand {
  position: absolute;
  width: 100%;
  max-width: 4%;
}

.defense {
  position: absolute;
  width: 100%;
  max-width: 3%;
}

.hand {
  left: 25%;
  top: 42%;
}

.defense {
  left: 38%;
  top: -8%;
}

.cup {
  left: 57%;
  top: -7%;
}

.camera {
  left: 70%;
  top: 44%;
}
